<div class="section-min">
	<h6>我的项目</h6>
	<br />



	<div class="row">	
			<% @articles.each do |article| %>
			  <div class="col-md-3 col-sm-10 col-sm-offset-1 col-xs-12 card">
	              <% if article.project_cover.attached? %>
			  	   <%= image_tag article.project_cover.variant(resize: '218x122.63') %>
			  	  <% end %>
			  	  <div class="project-card-content">
			  		<h6><%= article.title %></h6>
			  		<p class="project-blurb"><%= article.subtitle %></p>
			  		<p><%= link_to "READ MORE", article_path(article) %></p>
			  	  </div>	  
	           </div>
	        <% end %>
	</div>
</div>


<%= link_to 'About', page_path('about') %>
<%= link_to 'Home', page_path('home') %>







































