<div class="">
  <div class="bg-grey-100-min grid-container-min mb-50-min">
	<div class="row pt-60-min  mb-50-min">
	    <div class="col-md-3">

	    	<div><%= image_tag user_avatar(@article.user, 38), class: 'rounded-circle' %></div>
	    	<div class="mt-10-min">By <%= link_to @article.user.username %></div>
	    	<p class="font-size-13-min">发起了 <%= pluralize(@article.user.articles.count, 'project') %></p>
	    </div>
	    <div class="col-md-9 width-600-min">
	    	<h2><%= @article.title %></h2>
	     	<p><%= @article.subtitle %></p>
	    </div>
	</div>

	
	
    <% if @article.project_cover.attached? %>
	<div class="pb-50-min"><%= image_tag @article.project_cover.variant(resize: '756X425.25') %></div>
    <% end %>

    <p><b>Category:</b><%= @article.category && @article.category.name %></p>
  </div>



   <div class="grid-container-min pt-30-min">

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">项目描述</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false"><%= pluralize(@article.comments.count, 'Comment') %></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">FAQ</a>
        </li>
      </ul>
      
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
         <div class="row">
        	<div class="col-md-8 fr-view">
        			<%= raw @article.body %>
        	</div>
        	<div class="col-md-4">
        			<li class="hover-group js-reward-available pledge--available pledge-selectable-sidebar" data-reward-id="6810949">
						<div class="pledge__hover hover-zoomout">
						<div class="pledge__hover-content">
						<p>Select this reward</p>
						</div>
						</div>
						<div class="pledge__info">
						<h2 class="pledge__amount">
						Pledge <span class="money">US$ 5</span> or more
						<span class="pledge__currency-conversion">
						About <span>US$ 5</span>
						</span>
						</h2>
						<h3 class="pledge__title">
						A WOMAN’S WORK CURATED PLAYLIST
						</h3>
						<div class="pledge__reward-description pledge__reward-description--expanded">
						<p>First and Goal! A Woman's Work Mixtape will get our heart pumping with carefully curated songs for and about women empowerment. We will send you a downloadable mixtape, with all the music jams to get you fired up to create change. (Plus all the rewards above.)</p>

						<a class="pledge__reward-description-toggle js-desc-toggle hide" href="#" role="button">
						<span>Less</span>
						</a>
						</div>
						<div class="pledge__extra-info">
						<div class="pledge__detail">
						<span class="pledge__detail-label">Estimated delivery</span>
						<span class="pledge__detail-info"><time datetime="2019-01-01" data-format="MMM YYYY" class="js-adjust-time">Jan 2019</time></span>
						</div>
						</div>
						<div class="pledge__backer-stats">
						<span class="pledge__backer-count">
						18 backers
						</span>
						</div>
						</div>

						<form class="NS_pledges__shipping_select js-form-wrapper new-form new-form--block pledge__checkout " action="/projects/awomanswork/a-womans-work-the-nfls-cheerleader-problem/pledge" accept-charset="UTF-8" method="post" aria-expanded="false" aria-hidden="true"><input name="utf8" type="hidden" value="✓">
						<div class="pledge__checkout-form">
						<div class="form-group">
						<label>Pledge amount</label>
						<div class="new-form__amount new-form__amount--symbol"><input class="new-form__input--numbers form-control js-form-input text" value="5" type="text" name="backing[amount]" id="backing_amount"><div class="new-form__currency-box"><span class="new-form__currency-box__text">$</span></div></div>
						<input name="backing[backer_reward_id]" type="hidden" value="6810949">
						<input name="clicked_reward" type="hidden" value="true">
						</div>
						<div class="pledge__continue js-continue">
						<button class="bttn bttn-green bttn-medium w100p pledge__button">
						<span class="btn-text">
						Continue
						</span>
						</button>
						</div>
						<div class="pledge__applepay js-applepay">
						<button class="btn btn--applepay btn--block js-applepay-button" role="button" tabindex="1">
						<span class="btn-text"></span>
						<div class="loader-dots">
						<svg version="1.1" viewBox="0 0 56 16" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
						<g>
						<circle class="loader-dot-1" cx="8" cy="8" r="8">
						<animate attributeName="opacity" attributeType="XML" begin="0s" dur="1s" repeatCount="indefinite" values="1; .3; .3; .3;"></animate>
						</circle>
						<circle class="loader-dot-2" cx="28" cy="8" r="8">
						<animate attributeName="opacity" attributeType="XML" begin="0.33s" dur="1s" repeatCount="indefinite" values="1; .3; .3; .3;"></animate>
						</circle>
						<circle class="loader-dot-3" cx="48" cy="8" r="8">
						<animate attributeName="opacity" attributeType="XML" begin="0.66s" dur="1s" repeatCount="indefinite" values="1; .3; .3; .3;"></animate>
						</circle>
						</g>
						</svg>
						</div>

						</button>
						<button class="btn btn--another-payment-method btn--like-text btn--block mt1" role="button" tabindex="2">
						<span class="btn-text">
						Other payment options
						<svg class="svg-icon__arrow-right" aria-hidden="true"><use xlink:href="#arrow-right"></use></svg>
						</span>
						</button>
						</div>
						</div>
						<div class="pledge__accountability js-pledge__accountability">
						<h6 class="f6">
						Kickstarter is not a store.
						</h6>
						<p class="f6 normal">
						It's a way to bring creative projects to life.
						</p>
						<a class="f6 normal mb0" href="/trust?ref=project_reward">Learn more about accountability.</a>
						</div>
						</form>



						</li>
        	</div>
         </div>
        </div>

        	
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">

          <div class="row">
            <div class="col-md-8">
        		<%= render @article.comments %>
        	
        		<% if user_signed_in? %>
								<div class="">
									<h5 class="">Leave a reply</h5>
									<%= render 'comments/form' %>
								</div>
							<% else %>
								<div class=""><%= link_to 'Sign in', new_user_session_path %> to leave a comment.</div>
							<% end %>
        	</div>
        	<div class="col-md-4">
        			<p>为创造者打call! 与创客一起互动</p>
        	</div>
          </div>
       </div>
           	

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">FAQ</div>
      </div>



		<div class="fr-view"><%#= raw @article.body %></div>
		 <!-- This block is available to only signed in users -->
	     <% if signed_in? %>

	                   <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-default' %>
	                   <%= link_to "Delete", article_path(@article), class: 'btn btn-danger', data: {:confirm => 
	                   	"Are you sure?"}, method: :delete %>
	     <% end %>
	     <hr>


	    <h5><%= @article.created_at.strftime('%b %d, %Y') %></h5>

	    
	

      


      
     


   </div>
</div>





