<div class="grid-container-min pt-30-min">	
     




      <h5 class="mb-20-min">发现项目</h5>

   
	  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
       <% @categories.each_with_index do |category, index| %>
        <li class="nav-item" style="margin-right: 20px">

          <a class="nav-link text-teal category-min <%= 'active' if index == 0%>"  data-toggle="pill" href="#cat-<%= category.id %>" role="tab"  aria-selected="true"><%= category.name %></a>
        </li>
        <% end %>
      </ul>

      <div class="tab-content" id="pills-tabContent">
        <% @categories.each_with_index do |category, index| %>
		  
	      <div class="tab-pane fade show <%= 'active' if index == 0%>" id="cat-<%= category.id %>" role="tabpanel" >
	        <div class="row">
	         	<% category.articles.each do |article| %>
			 	 	<div class="col-md-3 col-sm-10 col-sm-offset-1 col-xs-12 card">
			              <% if article.project_cover.attached? %>
					  	   <%= image_tag article.project_cover.variant(resize: '218x122.63') %>
					  	  <% end %>
					  	  <div class="project-card-content">
					  		<h6><%= link_to article.title, article_path(article), class: 'text-teal' %></h6>
					  		<p class="project-blurb"><%= truncate(article.subtitle.html_safe, length:160) %></p>
					  		<p class="project-blurb">category: <%= article.category.name %></p>
					  	  </div> 
			        </div>
			     <% end %>
			</div>
	      </div>
	   
	   <% end %>
	  </div>


     

     



	  
	
</div>

